/*
 * カート用css
*/

#listItem{
    box-sizing: border-box;
    border: 1px #ccc solid;
    height:440px;
    overflow-y: auto;
}
#sumTable{
    height: 30px;
}

#list tr{
    height: 25px;
}
#list hr{
    border: 1px dotted #ccc;
}
#list .icon{
    width:50px;
}
#list .icon img{
    width:50px;
}
#list .code{
    font-weight: bold;
    text-align: left;
    font-size: 110%;
}
#list .price{
    width: 90px;
    text-align: right;
    color: #c00;
    font-size: 120%;
    font-weight: bold;
}
#list .count{
    width: 90px;
    font-size: 110%;
    height:20px;
    padding-top: 5px;
    padding-right: 10px;
    font-weight: bold;
    text-align: right;
}
#list .count input{
    line-height: 20px;
    text-align:right;
    width:60%;
    border:1px solid #ccc;
    border-radius:2px;
}
#list .delete {
    width:50px;
    padding: 0;
}
#list .delete input{
    width: 50px;
    border-radius: 5px;
    margin: 0;
}

#sumcount{
    font-weight: bold;
    font-size: 120%;
    text-align: right;
    width:30%;
}
#sumprice{
    font-weight: bold;
    font-size: 120%;
    text-align: right;
    color: #c00;
    width: 35%;
}
#sumlabel{
    font-size: 120%;
    font-weight: bold;
    width: 35%;
}
#sum, #sum tr{
    width:90%;
}