/*
 * ウィッシュリストラベル用css
*/

#listLabel{
    box-sizing: border-box;
    margin: 0;
    padding: 2px;
    width: 100%;
    height: 50px;
}
#listLabel table, #listLabel tr{
    width:100%;
    height:100%;
}
td{
    text-align: center;
    margin:0;
    padding:0;
}
.listddl{
    width:85%;
}
.listddl input{
    width:95%;
    height:35px;
    margin:0;
    padding: 0 1%;

    font-size: 130%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
}
.listbtn{
    width:15%;
}
.listbtn input{
    border-radius: 5px;
}