/*
 * 操作パネルcss
*/

#listPanel{
    border-bottom: 1px solid #ccc;
}
#listPanel table, #listPanel tr{
    width:100%;
    height:50px;
}

/*-- エクスポートボタン --*/
#listPanel td.exbutton{
    width:100%;
}
#listPanel td.exbutton input{
    border-radius: 5px;
    width: 100%;
    height: 35px;
}

/*-- カート追加ボタン --*/
td#add_code{
    width:30%;
    font-size: 120%;
    font-weight: bold;
}
td#add_count{
    width:40%;
    text-align: center;
}
td#add_count input{
    width:90%;
    height: 18px;
    text-align: right;
    border-radius: 5px;
}
td#add_submit{
    width:30%;
}
td#add_submit input{
    width:80%;
    height: 25px;
    border-radius: 5px;
}