/*
 * ポップアップ用css
*/

#wrapper{
    width: 450px;
    height: 580px;
}

h2{
    margin: 5px 0px;
}

input{
    width: 100%;
}
td#label{
    min-width: 200px;
}

#info{
    font-weight: bold;
    color: #a00;
}

div#listLabel{
    height:40px;
}
div#cart{
    height:400px;
    overflow-y: scroll;
    overflow-x: hidden;
}
div#add{
    margin:5px 10px;
    height:100px;
}